{#
| Variable                   | Type        | Description                                                          |
|----------------------------|-------------|----------------------------------------------------------------------|
| page                       | object      |                                                                      |
| page.title                 | string      | *could be html                                                       |
| page.slug                  | string      | ex: "cat.show"                                                       |
| category                   | ?Category   |                                                                      |
| filters                    | bool        | is filters allowed here or not                                       |
| sort_options[]             | SortList[]  |                                                                      |
| search_query               | ?string     |                                                                      |
#}
{% extends "layouts.master" %}
{% block content %}
    <div class="container px-2.5 ms:px-5 mb-10">
        <nav class="breadcrumbs w-full py-5">
            <salla-breadcrumb></salla-breadcrumb>
        </nav>
        <div class="flex items-start flex-col md:flex-row">
            {% if filters %}
                <button class="btn--close-sm close-filters sicon-cancel hidden"></button>
                <salla-filters class="md:w-72 lg:sticky lg:top-20 flex-none" id="filters-menu"></salla-filters>
            {% endif %}

            <div class="main-content flex-1 w-full {{ filters ? 'md:rtl:mr-8 md:ltr:ml-8' : '' }}">
                {% if category %}
                    {% if category.image %}
                        <div class="mb-5">
                            <img class="w-full max-h-[200px] object-cover rounded-md bg-gray-100" 
                                 src="{{ category.image }}" alt="{{ category.name }}"/>
                        </div>
                    {% endif %}
                {% endif %}

                <salla-products-list source="{{page.slug}}" source-value="{{page.id}}"></salla-products-list>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script defer src="{{ 'pages.js' | asset }}"></script>
{% endblock %}
