{#
| Variable                               | Type                        | Description                                                            |
|----------------------------------------|-----------------------------|------------------------------------------------------------------------|
| product                                | Product                     |                                                                        |
| product.id                             | int                         |                                                                        |
| product.name                           | string                      |                                                                        |
| product.description                    | string                      | HTML                                                                   |
| product.url                            | string                      |                                                                        |
| product.type                           | string                      | product, service, group_products, codes, digital, food, donating       |
| product.status                         | string                      | sale, out, out-and-notify                                              |
#}
{% extends "layouts.master" %}
{% block content %}
    <div class="container">
        <nav class="breadcrumbs w-full py-5">
            <salla-breadcrumb></salla-breadcrumb>
        </nav>
        <div class="flex flex-col items-start md:flex-row" id="product-{{ product.id }}">
            <div class="sidebar md:sticky top-24 w-full md:!w-2/4 rtl:ml-8 ltr:mr-8 pb-8 md:pb-16 overflow-hidden shrink-0">
                {% set has_many_images = product.images|length > 1 %}
                <salla-slider
                        id="details-slider-{{ product.id }}"
                        class="details-slider rounded-md image-slider"
                        type="thumbs"
                        loop="false"
                        auto-height
                        listen-to-thumbnails-option
                        show-thumbs-controls="false">
                    {% if product.promotion_title %}
                        <div class="promotion-title">{{ product.promotion_title }}</div>
                    {% endif %}

                    <salla-button
                            shape="icon" color="light" aria-label="Wishlist button"
                            class="btn--wishlist animated"
                            onclick="salla.wishlist.toggle({{ product.id }})"
                            id="wishlist-{{ product.id }}"
                            data-id="{{ product.id }}">
                        <i class="sicon-heart"></i>
                    </salla-button>

                    <div slot="items">
                        {% for image in product.images %}
                            <div class="swiper-slide lazy-load {{ image.video_url?'video-entry':'' }} {{ image.three_d_image_url?'model-entry':'' }}">
                                {% if image.video_url %}
                                    <a href="{{ image.video_url }}" class="btn-video-entry magnify-entry">
                                        <img src="{{ image.url }}" alt="{{ image.alt }}"
                                             class="s-product-slider-image"/>
                                    </a>
                                {% elseif image.three_d_image_url %}
                                    <model-viewer src="{{ image.three_d_image_url }}" camera-controls auto-rotate
                                                  ar class="w-full h-full"></model-viewer>
                                {% else %}
                                    <a data-fslightbox="product_{{ product.id }}" data-type="image" href="{{ image.url }}" aria-label="{{ image.alt }}">
                                        <img src="{{ image.url }}"
                                             alt="{{ image.alt }}"
                                             class="s-product-slider-image"/>
                                    </a>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>

                    {% if has_many_images %}
                        <div slot="thumbs">
                            {% for image in product.images %}
                                <div class="slide--one-fourth {{ image.video_url?'video-entry':'' }} {{ image.three_d_image_url?'model-entry':'' }}">
                                    <img src="{{ image.url }}"
                                         loading="{{ loop.index < 5 ? 'eager' : 'lazy' }}"
                                         class="object-cover w-full h-full bg-gray-100 rounded-md overflow-hidden"
                                         title="{{ image.alt }}"
                                         alt="{{ image.alt }}"/>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </salla-slider>
            </div>

            <div class="main-content md:sticky md:overflow-hidden top-24 w-full md:w-2/4 md:pb-16">

                {% hook 'product:single.description.start' %}

                {% if product.brand.name %}
                    <div class="product-brand mb-5 w-12">
                        <a class="brand-logo" href="{{ product.brand.url }}" title="{{ product.brand.name }}">
                            <img width="100%" height="100%" class="max-h-full object-contain"
                                 src="{{ product.brand.logo }}"
                                 title="{{ product.brand.name }}"
                                 alt="{{ product.brand.name }}">
                        </a>
                    </div>
                {% endif %}

                <h1 class="text-xl md:text-2xl leading-10 font-bold mb-6 text-gray-800">{{ product.name }}</h1>

                {% if product.subtitle %}
                    <h2 class="product-entry__sub-title text-sm text-gray-500 leading-6 mb-2.5">
                        {{ product.subtitle }}
                    </h2>
                {% endif %}

                {% if product.rating %}
                    <salla-rating-stars value="{{ product.rating.stars }}"
                                        reviews="{{ product.rating.count }}"></salla-rating-stars>
                {% endif %}

                {% if product.is_taxable %}
                    <small class="color-grey">{{ trans('pages.products.tax_included') }}</small>
                {% endif %}

                {# Description #}
                {% if product.description %}
                    <div class="product-description leading-7 text-sm mt-4">
                        {{ product.description|raw }}
                    </div>
                {% endif %}

                {# Size Guide #}
                {% if product.has_size_guide %}
                    <salla-button class="mt-2 mb-4" color="gray" size="sm" shape="link"
                                  onclick="salla.event.dispatch('size-guide::open')">
                        {{ trans('pages.products.size_guide') }}
                    </salla-button>
                {% endif %}

                {# Installment #}
                <salla-installment price="{{ product.price }}"></salla-installment>

                {% if product.has_metadata %}
                    <salla-metadata></salla-metadata>
                {% endif %}

                {# Product Form #}
                <form class="form product-form" enctype="multipart/form-data" method="post"
                      onsubmit="return salla.form.onSubmit('cart.addItem', event)">
                    <input type="hidden" name="id" value="{{ product.id }}">

                    {% hook 'product:single.form.start' %}
                    {% include 'pages.partials.product.options' %}
                    {% hook 'product:single.form.end' %}

                    <section class="flex bg-white p-5 sm:pb-0 rounded-md rounded-b-none">
                        <div class="center-between w-full">
                            <label class="form-label">
                                <b class="block">{{ trans('pages.products.price') }}</b>
                            </label>
                            <div class="flex whitespace-nowrap price-wrapper gap-4 items-center">
                              <div class="{{ product.is_on_sale ? '' : 'hidden' }} price_is_on_sale space-x-2 rtl:space-x-reverse">
                                <h2 class="total-price text-red-800 font-bold text-xl inline-block">{{product.sale_price|money}}</h2>
                                <span class="before-price text-gray-500 line-through">{{product.regular_price|money}}</span>
                              </div>
                              <div class="starting-or-normal-price gap-4 {{ product.is_on_sale ? 'hidden' : 'flex' }}">
                                {% if product.starting_price %}
                                  <span class="starting-price-title">{{ trans('pages.products.starting_price') }}</span>
                                {% endif %}
                                <h2 class="total-price font-bold text-xl inline-block">{{product.starting_price ? product.starting_price|money : product.price|money }}</h2>
                              </div>
                              <div class="out-of-stock min-h-7 leading-7 hidden text-base text-red-600 !opacity-50 font-bold">{{ trans('pages.products.out_of_stock')}}</div>
                            </div>
                        </div>
                    </section>

                    <section class="sticky-product-bar bg-white p-5 rounded-md rounded-b-none">
                        {% if product.is_hidden_quantity or product.type == 'booking' %}
                            <input type="hidden" value="1" name="quantity" aria-label="Quantity"/>
                        {% else %}
                            <div class="sticky-product-bar__quantity center-between mb-5">
                                <label class="form-label font-bold">{{ trans('pages.products.quantity') }}</label>
                                <salla-quantity-input max="{{ product.max_quantity }}" value="1" name="quantity"
                                  class="border-gray-200 flex justify-end"></salla-quantity-input>
                            </div>
                        {% endif %}

                        <salla-add-product-button
                                {{product.can_quick_buy ? 'quick-buy' : ''}}
                                {{theme.settings.get('sticky_add_to_cart') ? ' support-sticky-bar' : ''}}
                                {{product.is_require_shipping ? 'required-shipping' : ''}}
                                amount="{{ product.base_currency_price }}"
                                class="mt-5 w-full sticky-product-bar__btn"
                                product-status="{{ product.status }}"
                                product-type="{{ product.type }}"
                                product-id="{{ product.id }}"
                                loader-position="end"
                                type="submit"
                                width="wide"
                                {% if product.notify_availability %}
                                    {{ product.notify_availability.subscribed ? 'is-subscribed' : '' }}
                                    channels="{{ product.notify_availability.channels|join(',') }}"
                                    subscribed-options="{{ product.notify_availability.subscribed_options|json_encode }}"
                                    {{ product.notify_availability.options ? 'notify-options-availability' : '' }}
                                {% endif %}>
                            {{ product.add_to_cart_label }}
                        </salla-add-product-button>
                    </section>

                    {% if product.is_giftable %}
                        <salla-gifting class="mt-5" product-id="{{ product.id }}" {{ product.is_require_shipping ? 'physical-products' : '' }}></salla-gifting>
                    {% endif %}
                </form>

                {% hook 'product:single.description.end' %}
                <salla-quick-order class="mt-5 md:-mb-2 block"></salla-quick-order>
            </div>
        </div>
        <salla-offer></salla-offer>
    </div>

    {% if store.settings.rating.show_on_product %}
        <salla-comments item-id="{{product.id}}" type="product"></salla-comments>
    {% endif %}

    <div class="container">
        <salla-products-slider source="related" source-value="{{product.id}}" block-title="{{trans('pages.products.similar_products')}}" display-all-url></salla-products-slider>
    </div>
{% endblock %}

{% block scripts %}
    <script defer src="{{ 'product.js' | asset }}"></script>
    {% if product.has_3d_image %}
        <script type="module" defer src="https://unpkg.com/@google/model-viewer/dist/model-viewer.min.js"></script>
    {% endif %}
    {% if product.digital_files_settings %}
        <script type="module" defer src="{{ 'digital-files.js'|asset }}"></script>
    {% endif %}
{% endblock %}
